<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class = "center">
		
<form th:action = "@{/adminhome}" mthod = "post">

<h1>Admin Login</h1>
	
	<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   		</div>
   		

User Name: <input type = "text" name = "name" placeholder="Enter Admin User Name" required><br><br>

Password: <input type = "password" name= "password" placeholder="Enter Admin Password" required><br><br>

<input type = "submit" value="Login">

</form>
<br>
<h4>Use</h4>
<h4>User Name: admin</h4>
<h4>Password: admin</h4>
	</section>
</body>
</html>