<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">Title</title>
	
	
</head>
<body>

<!-- Navbar -->

  <ul>
  <li><a class="active" th:href="@{/}">Home</a></li>
  <li><a th:href="@{/adminhome}">Admin Home</a></li>
  <li><a th:href="@{/viewadmin}">Admin Details</a></li>
  <li><a th:href="@{/viewvoters}">Voters Details</a></li>
  <li><a th:href="@{/viewcandidates}">Candidates Details</a></li>
  <li><a th:href="@{/}">Admin Logout</a></li>
  
</ul>

    <!-- Navbar End -->

	<section class="center">
	



		
		
<h2>Update Voter Details</h2>
	<div th:if=${session.msg}>
		<h3 th:text="${session.msg}" style="color:red"></h3>
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   	</div>

		
	
	<form th:action="@{/updatecandidate}" method="post" th:object="${cnd}">
    					
    	<input type="hidden" th:value="${cnd.id}" name="id">
    					
    	Enter Candidate 1:	<input type="text" name="candidate1" th:value="${cnd.candidate1}"><br><br>
    	
    	Enter Candidate 2:	<input type="text" name="candidate2" th:value="${cnd.candidate2}"><br><br>
    	
    	Enter Candidate 3:	<input type="text" name="candidate3" th:value="${cnd.candidate3}"><br><br>
    	
    	Enter Candidate 4:	<input type="text" name="candidate4" th:value="${cnd.candidate4}"><br><br>
    					
    	
    	<input type = "submit" value="Update">
    				
    </form>
	 
		
		
		
	




	<br>
	
	</section>
</body>
</html>