<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">Title</title>
	
	
</head>
<body>

<!-- Navbar -->

  <ul>
  <li><a class="active" th:href="@{/}">Home</a></li>
  <li><a th:href="@{/adminhome}">Admin Home</a></li>
  <li><a th:href="@{/viewadmin}">Admin Details</a></li>
  <li><a th:href="@{/viewvoters}">Voters Details</a></li>
  <li><a style="text-decoration: underline;">Candidates Details</a></li>
  <li><a th:href="@{/}">Admin Logout</a></li>
  
</ul>

    <!-- Navbar End -->

	<section class="center">
	



		
		
<h2>All Candidates Details</h2>
	<div th:if=${session.msg}>
		<h3 th:text="${session.msg}" style="color:red"></h3>
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   	</div>

		
	
						
	  <table  border = '1' align='center'>
		<thead>					
			<tr>
				<th>Candidates </th>
			    <th>Candidate 1 </th>
			    <th>Candidate 2 </th>
			    <th>Candidate 3 </th>
			    <th>Candidate 4 </th>
				<th>Actions </th>
			</tr>	
		</thead>
		<body>
			<tr th:each="e: ${cnd}">
      			<th>Voters</th>
      			<th th:text="${e.candidate1}"></th>
      			<th th:text="${e.candidate2}"></th>
      			<th th:text="${e.candidate3}"></th>
      			<th th:text="${e.candidate4}"></th>
      			<th>
      				<a class="btn btn-sm btn-dark text-white" th:href="@{/editcandidate/{id}(id=${e.id})}"><img th:src="@{/image/update.png}" height="25px" alt="Update"></a> &ensp;
      				<a class="btn btn-sm btn-dark text-white" th:href="@{/deletecandidate/{id}(id=${e.id})}"><img th:src="@{/image/delete.jpg}" height="25px" alt="Delete"></a>
      			</th>    
   			</tr>
		
		</body>				
       </table>
		
		
		
	




	<br>
	
	</section>
</body>
</html>