<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class = "center">
	

<h1>User Dashboard</h1>
		<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   		
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   		</div>
   		
   		
   		
   		<!-- Table -->
		
		<table>
						<h2>User Details:</h2>
							<img th:src="@{/image/user.png}" height="125px" alt="User Icon">
							
					</table>
						
						<table border = '1' align='center'>
							
							<tr>
								<th>Id: </th>
							<th> <h4 th:text="${user.id}"></h4></th>
							</tr>
							
							<tr>
								<th>Name: </th>
								<th> <h4 th:text="${user.name}"></h4></th>
							</tr>
							
							
						
								<tr>
									<th>Email Id: </th>
									<th><h4 th:text="${user.email}"></h4> </th>
								</tr>
					
								<tr>
									<th>Phone No.: </th>
									<th><h4 th:text="${user.phone}"></h4> </th>
								</tr>

								
				
						</table>
		
		<!--  -->


	<br>	
	</section>
</body>
</html>