<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="center">
			
		<h1>Voter Registration</h1>
		
		<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   		</div>
    	
		<form th:action="@{/addvoters}" method="post">
	
			
			User Name: <input type = "text" name = "name" placeholder="Enter Your User Name" required><br><br>
			
			Password: <input type = "password" name= "password" placeholder="Enter Your Password" required><br><br>
			
			Email Id: <input type = "text" name= "email" placeholder="Enter Your Email Id" required><br><br>
			
			Phone No: <input type = "number" name= "phone" placeholder="Enter Your Phone No" required><br><br>
			
			
			<input type = "submit" value="Signup">
			
		
		</form>
		<br>
	
	
	</section>
</body>
</html>