<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">Title</title>
</head>
<body>
  <!-- Navbar -->

  <ul>
  <li><a class="active" th:href="@{/}">Home</a></li>
  <li><a class="active" th:href="@{/userhome}">User Home</a></li>
  <li><a class="active" th:href="@{/adminhome}">Admin Home</a></li>
  <li><a class="active" th:href="@{/about}">About</a></li>
</ul>

    <!-- Navbar End -->
	
<section class="center">
	<h1>About</h1>
		
	
	</section>
</body>
</html>